* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f5f5f5;

}


header {


    background-color: #ffffff;


}

.borde {

    border: 2px solid #7AA298;
    border-radius: 5px;
    margin: 3em 8em 2em 6em
}

ul {
    display: flex;
    justify-content: right;
    background-color: #ffffff;
    padding-right: 20px;
    padding-bottom: 15px;
}

.logo {

    padding-left: 20px;
    padding-top: 20px;
}

li {
    display: inline-block;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #ffc550;



}

a {
   text-decoration: none;
   color: black;
}

/*transicion - transformacion*/


.btn__secciones {
    background: #ffc550;
    padding: 5px 18px;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px;
    margin-top: 13px;
    transition: all 0.5s;


}

.btn__secciones:hover {
    background-color: #7AA298;
}

.btn__formulario {
    background: #ffc550;
    padding: 5px 18px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px;
    margin-top: 13px;
}

.campoform {
    border: 1px solid #7AA298;
    border-radius: 5px;

}

.btn__color {

    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffeead;
    box-shadow: 1px 1px;
    text-decoration: none;
    transition: all 0.5s;
}

.btn__color:hover {
    background-color: #ffc550;

}

.fuente {
    text-transform: uppercase;

}

.parrafos {
    margin-top: 50px;
    text-align: left;
    text-transform: lowercase;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 16px;




}

.imagenes {
    border: 2px solid black;
    border-style: groove;
    box-shadow: 1px 1px;

}


.equipo {

    border: 2px solid #ffc550;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 50px;
    margin: 3em 8em 2em 6em
}

.servicios {
    border: 2px solid #ffc550;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 50px;
    margin: 3em 8em 2em 6em
}

.servicios__detalles {
    border: 2px solid black;
    border-radius: 5px;

}

.rubros {
    margin-left: 65px;
    font-weight: 600;
}

.opiniones {
    border: 2px solid #ffc550;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 50px;
    margin: 3em 8em 2em 6em
}

.footer {
   
    border: 2px solid #ffeead;
    border-radius: 5px;
    background-color: #7AA298;
    padding: 2em;
    margin: 2em 8em 1em 6em
}
.menuFooter:hover {
    color: darkcyan;
    transition: all 0.5s;
    
}



.pie {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;

}
.iconos {
    display: block;
}

.transformacion:hover {
    transform: scale(2);

}

.transformacion {
    transition: all 1s;

}





.formulario {

    background-color: #ffffff;
    border: 2px solid #ffc550;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 30px 30px 40px 30px;
    margin: 3em 8em 2em 6em
}

.letraFormulario {

    font-size: 15px;
    padding-bottom: 30px;
}

/*GRID*/

.grid {

    display: grid;
    grid-template-areas:
        "servicios1 gas1"
        "servicios2 plomeria1"
        "servicios3 hogar1"
    ;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 10px;
    margin: 3em 9em 2em 6em
}

#servicios1 {
    grid-area: servicios1;
    padding-top: 20px;
    background-color: #ffc550;
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;




}

#servicios2 {
    grid-area: servicios2;
    padding-top: 20px;
    background-color: #ffc550;
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;


}

#servicios3 {
    grid-area: servicios3;
    padding-top: 20px;
    background-color: #ffc550;
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;



}

#gas1 {
    grid-area: gas1;
    padding: 1em;
    background-color: #ffffff;
    border: 2px solid #ffc550;
    border-radius: 5px;
}

#plomeria1 {
    grid-area: plomeria1;
    padding: 1em;
    background-color: #ffffff;
    border: 2px solid #ffc550;
    border-radius: 5px;

}

#hogar1 {
    grid-area: hogar1;
    padding: 1em;
    background-color: #ffffff;
    border: 2px solid #ffc550;
    border-radius: 5px;
}

.centradoServicios {
    text-align: center;
    font-size: 2em;
}

.animate__animated {
    background-color: #7AA298;
    padding: 10px ;
    margin: 5% 40% 5% 40% ;
    border: 2px solid #ffc550;
}


.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    
}

.profile-pics {
    padding: 3%;
    
    
}
.pb-5 {
    padding-bottom: 3rem;
   
}
.justify-content-between {
    justify-content: center;
}
.d-flex {
    display: flex;
}
.list-group-horizontal {
    flex-direction: row;
    justify-content: center;
    padding: 2% ;
    background-color:#7AA298 ;
}
.list-group {
    display: flex;
    justify-content: space-between;
}
.rounded-circle {
    border-radius: 50%;
    margin-left: 25%;
    
}
h3 {
    text-align: center;
    margin-top: 5px;
    color: black;
}
.container-sm {
    margin:3em 8em 2em 6em ;
    border: 2px solid #ffc550;
}
p {
    text-align: justify;
    color: black;
}