* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    
   

     background-color: #7AA298
   

}
    /*ENCABEZADO*/

header {

   
    background-color: #ffffff;


}

.borde {

    border: 2px solid #ffc550;
    border-radius: 5px;
    margin: 3em 8em 2em 6em
}

ul {
    display: flex;
    justify-content: right;
    background-color: #ffffff;
    padding-right: 20px;
    padding-bottom: 15px;
    letter-spacing: 0.5em;
}

.logo {

    padding-left: 20px;
    padding-top: 20px;
   
    
}

.logoinicio {
    
    margin-top: 10% ;
    margin-left: 95% ;
    
}


li {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #ffc550;



}

a {
   text-decoration: none;
   color: black;
}

/*BOTONES*/


.btn__secciones {
    background: #ffffff;
    padding: 5px 18px;
    font-weight: 200;
    font-size: 14px;
    border: 3px solid #ffc550;
    border-radius: 5px;
    box-shadow: 1px 1px;
    margin-top: 13px;
    transition: all 0.5s;


}

.btn__secciones:hover {
    background-color: #7AA298;
}


.btn__formulario {

    letter-spacing: 0.5em;
    background: #ffc550;
    padding: 5px 18px;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px;
    margin-top: 13px;
}


/*FORMULARIO*/

.campoform {
  
   display: flex;
   border: 1px solid #7AA298;
   border-radius: 2px;
 

}

.comentario {

    display: flex;
    padding: 5em 10em 5em 6em;
    border: 1px solid #7AA298;
    border-radius: 2px;
}


.form-select {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid #7AA298;
    border-radius: 2px;
}

.formulario {
    
    font-family: 'Raleway', sans-serif;
    background-color: #e9ecef;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
    
    font-size: 1.1em;
    padding: 5em 8em 5em 6em;
    margin: 5em 8em 7em 6em;
   
}

.letraFormulario {
    line-height: 1em ;
    letter-spacing: 0.5em;
    padding-bottom: 30px;
}

.backgroundFormulario {
    background-color: #7AA298;
}

h2 {

    margin-bottom: 1em;
}

.btn__color {

    letter-spacing: 0.5em;

    border: 3px solid #ffc550;
    border-radius: 5px;
    padding: 10px;
    background-color: #7AA298;
    box-shadow: 1px 1px;
    text-decoration: none;
    transition: all 0.5s;
}

.btn__color:hover {
    background-color: #e9ecef;

}

.fuente {
    text-transform: uppercase;
    

}



.parrafos {
    
    margin-top: 50px;
    text-align: left;
    text-transform: lowercase;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 16px;

}

/*SECCIÓN INICIO*/

.equipo {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #e9ecef;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
    padding: 50px;
    margin: 7em 8em 2em 6em
    
    
}

.servicios {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #e9ecef;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
    padding: 50px;
    margin: 7em 8em 2em 6em
    
}



.rubros {
    margin-left: 5em;
    font-weight: 600;
}

.opiniones {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e9ecef;
    padding: 50px;
    margin: 7em 8em 2em 6em;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
    

}

/*BOTON PARA VOLVERA  INICIO*/

.fa-solid {

    margin-left: 97% ;
}

/*FOOTER*/

.footer {
    
    font-family: 'Raleway', sans-serif;
    border: 2px solid #ffeead;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 2em;
    margin: 2em 8em 1em 6em
}
.menuFooter:hover {
    color: #008b8b;
    transition: all 0.5s;
    
}



.pie {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;

}



.iconos {
    display: inline;
}

.transformacion:hover {
    transform: scale(2);

}

.transformacion {
    transition: all 1s;

}

.pieOpinion {
    margin-bottom: 0em;
}

/*H1 SECCIONES*/

.colorServicios {
    background-color: #e9ecef;
    
    background-size: contain;
}

.centradoServicios {

  

    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1em;
    border-radius: 5px;

    
}

/*SECCIÓN EQUIPO*/

.card {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6em 20em 1em 30em;
    border: 2px solid #ffc550;
    box-shadow: 5px 5px #ffc550;
  
}
 .card-body {

     padding: 1em;
     flex-direction: row;
     background-color: #e9ecef;
     
    
 }
#reverse {
    flex-direction: row-reverse;
    

}
.card-img-top {
    border-radius: 50%;
    margin: 1em;
    border: 2px solid #ffc550;

}

.card-title {
    letter-spacing: 0.5em;
    
    
}

.card-text {
    background-color: #e9ecef;

    
}

.card-title {
    background-color: #e9ecef;

}

/*SECCIÓN SERVICIOS - GRID*/

.grid {
    
    width: 60%;
    display: grid;
    grid-template-areas:
        "servicios1 gas1"
        "servicios2 plomeria1"
        "servicios3 hogar1"
    ;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    gap: 10px;
    margin: 10em 9em 1em 20em;
}

#servicios1 {
    grid-area: servicios1;
    background-image: url(../imagenes/hornalla.jpg);
    background-size: cover;
    background-position: center;
   
    
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #ffc550;
    
}

#servicios2 {

    grid-area: servicios2;
    background-image:url(../imagenes/plomero.jpg);
    background-size: cover;
    background-position: center;
    
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #ffc550;
   


}

#servicios3 {
    grid-area: servicios3;
    background-image:url(../imagenes/mantenimiento.jpg);
    background-size: cover;
    background-position: center;
   
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #ffc550;

}

.opacidad {
    
    opacity: 0.8;
}

#gas1 {
    grid-area: gas1;
    padding: 1em;
    background-color: #e9ecef;
    opacity: 0.9;
    border: 2px solid #ffc550;
    border-radius: 5px;
   
    box-shadow: 4px 4px #ffc550;
    
   
}

#plomeria1 {
    grid-area: plomeria1;
   
    padding: 1em;
    background-color: #e9ecef;
    opacity: 0.9;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;

}

#hogar1 {
    grid-area: hogar1;
    
    padding: 1em;
    background-color: #e9ecef;
    opacity: 0.9;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
} 



.listas {

    display: block;
    color: black;
    list-style-type: circle;
    font-size: 16px;
    font-weight: 100;
    margin-left: 10em;
    
}


.titulos {

    
    background-color: #7AA298;
    border: 2px solid #ffc550;
    padding: 3em;
    margin: 3em 8em 2em 6em;
    
}



 .container {
    width: 40%;
    margin-top: 1em;
    
  }

h3 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 0.4em;
}


/* .pieOpinion {
    margin-bottom: 0em;
} */

/*COLUMNAS OPINIONES*/

.row {

    margin-top: 6em;
    border: 2px solid #ffc550;
    border-radius: 5px;
    
    box-shadow: 4px 4px #ffc550;
    background-color: #e9ecef;
    padding: 2em 2em 2em 4em;
    text-align: justify;
    margin-bottom: 0em;
   
}

 .rounded-circle {

    border-radius: 50%;
    margin-top: 15px;
    border: 2px solid #ffc550;
}  


