* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Raleway', sans-serif;
}

body {
    
   

     background-color: #7AA298
   

}

.fuente {
    text-transform: uppercase;
    

}

.parrafos {
    
    margin-top: 50px;
    text-align: left;
    text-transform: lowercase;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 16px;

}

a {
    text-decoration: none;
    color: black;
 }

.fa-solid {

    margin-left: 97% ;
}

.logoinicio {
    
    margin-top: 10% ;
    margin-left: 95% ;
    
}