@import "nav";
@import "general";
@import "botones";
@import "formulario";
@import "footer";




h2 {

    margin-bottom: 1em;
}

/*SECCIÓN INICIO*/

.equipo {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #e9ecef;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
    padding: 50px;
    margin: 7em 8em 2em 6em
    
    
}

.servicios {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #e9ecef;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
    padding: 50px;
    margin: 7em 8em 2em 6em
    
}


.opiniones {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e9ecef;
    padding: 50px;
    margin: 7em 8em 2em 6em;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
    
}

.transformacion:hover {
    transform: scale(2);

}

.transformacion {
    transition: all 1s;

}




/*H1 SECCIONES*/

.colorServicios {
    background-color: #e9ecef;
    
    background-size: contain;
}

.centradoServicios {

  

    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 1em;
    border-radius: 5px;

    
}

/*SECCIÓN EQUIPO*/

.card {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6em 20em 1em 30em;
    border: 2px solid #ffc550;
    box-shadow: 5px 5px #ffc550;
  
}
 .card-body {

     padding: 1em;
     flex-direction: row;
     background-color: #e9ecef;
     
    
 }
#reverse {
    flex-direction: row-reverse;
    

}
.card-img-top {
    border-radius: 50%;
    margin: 1em;
    border: 2px solid #ffc550;

}

.card-title {
    letter-spacing: 0.5em;
    
    
}

.card-text {
    background-color: #e9ecef;

    
}

.card-title {
    background-color: #e9ecef;

}

/*SECCIÓN SERVICIOS - GRID*/

.grid {
    
    width: 60%;
    display: grid;
    grid-template-areas:
        "servicios1 gas1"
        "servicios2 plomeria1"
        "servicios3 hogar1"
    ;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    gap: 10px;
    margin: 10em 9em 1em 20em;
}

#servicios1 {
    grid-area: servicios1;
    background-image: url(../imagenes/hornalla.jpg);
    background-size: cover;
    background-position: center;
   
    
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #ffc550;
    
}

#servicios2 {

    grid-area: servicios2;
    background-image:url(../imagenes/plomero.jpg);
    background-size: cover;
    background-position: center;
    
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #ffc550;
   


}

#servicios3 {
    grid-area: servicios3;
    background-image:url(../imagenes/mantenimiento.jpg);
    background-size: cover;
    background-position: center;
   
    border: 2px solid #ffc550;
    border-radius: 5px;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
    color: #ffc550;

}

.opacidad {
    
    opacity: 0.8;
}

#gas1 {
    grid-area: gas1;
    padding: 1em;
    background-color: #e9ecef;
    opacity: 0.9;
    border: 2px solid #ffc550;
    border-radius: 5px;
   
    box-shadow: 4px 4px #ffc550;
    
   
}

#plomeria1 {
    grid-area: plomeria1;
   
    padding: 1em;
    background-color: #e9ecef;
    opacity: 0.9;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;

}

#hogar1 {
    grid-area: hogar1;
    
    padding: 1em;
    background-color: #e9ecef;
    opacity: 0.9;
    border: 2px solid #ffc550;
    border-radius: 5px;
    box-shadow: 4px 4px #ffc550;
} 



.listas {

    display: block;
    color: black;
    list-style-type: circle;
    font-size: 16px;
    font-weight: 100;
    margin-left: 10em;
    
}


.titulos {

    
    background-color: #7AA298;
    border: 2px solid #ffc550;
    padding: 3em;
    margin: 3em 8em 2em 6em;
    
}



 .container {
    width: 40%;
    margin-top: 1em;
    
  }

h3 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 0.4em;
}


/*COLUMNAS OPINIONES*/

.row {

    margin-top: 6em;
    border: 2px solid #ffc550;
    border-radius: 5px;
    
    box-shadow: 4px 4px #ffc550;
    background-color: #e9ecef;
    padding: 2em 2em 2em 4em;
    text-align: justify;
    margin-bottom: 0em;
   
}

 .rounded-circle {

    border-radius: 50%;
    margin-top: 15px;
    border: 2px solid #ffc550;
}  

/*MEDIA QUERIES*/

@media (max-width: 767px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
@media (max-width: 992px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }

@media (max-width: 1200px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }

@media (max-width: 768px) {
    .logo {
     width: auto;
  }
}

@media (max-width: 768px) {
    .servicios {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap; 
    }
}

@media (max-width: 992px) {
    .footer {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1200px) {
    .footer {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 576px) {
    .footer {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 768px) {
    .grid {
        margin-left: 70%;
    }
  }

  